<launch>
	<node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

	<node pkg="nodelet" type="nodelet" name="NodeletSubber" args="load nodelet_speed_test/NodeletSubber standalone_nodelet" output="screen"/>
	<node pkg="nodelet" type="nodelet" name="NodeletPubber" args="load nodelet_speed_test/NodeletPubber standalone_nodelet" output="screen"/>
</launch>
